@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;

  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -moz-animation-name: fadeInUp;

  -o-animation-duration: 1s;
  -o-animation-fill-mode: both;
  -o-animation-name: fadeInUp;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;

}

.fadeInUp.animation-reverse {
  -webkit-animation-name: fadeInDown !important;
  -moz-animation-name: fadeInDown !important;
  -o-animation-name: fadeInDown !important;
  animation-name: fadeInDown !important;

}

/** Fade in/out animation **/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {


  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;

  -moz-animation-duration: 0.6s;
  -moz-animation-fill-mode: both;
  -moz-animation-name: fadeIn;

  -o-animation-duration: 0.6s;
  -o-animation-fill-mode: both;
  -o-animation-name: fadeIn;

  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeIn;

}

@keyframes fadeInRight {
  from {

    -webkit-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);

    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }

  to {

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);

    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInRight {
  from {

    -webkit-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }

  to {

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes fadeInRight {
  from {

    -webkit-transform: translate3d(10px, 0, 0);
    -o-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    opacity: 0;
    transform: translate3d(10px, 0, 0);
  }

  to {

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nothing {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes nothing {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes nothing {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.fadeInRight {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
}

.fadeInRight.animation-reverse {
  animation-name: nothing;
  animation-duration: 0s;

  -webkit-animation-name: nothing;
  -webkit-animation-duration: 0s;

}

.fadeInUp-element, .fadeIn-element, .fadeInRight-element {
  opacity: 0;
}

.no-animation-support {
  .fadeInUp-element, .fadeIn-element, .fadeInRight-element {
    opacity: 1 !important;
  }
}

.fadeInUp-element.animation-done {
  opacity: 1;
}

.animation-done {
  opacity: 1 !important;
}

